@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

:root {
  /* color */
  --white-color: #fff;
  --blue-color: #045fd4;
  --black-color: #282828;
  --red-color: #ff0000;
  --grey-dark-color: #909890;
  --grey-light-color: #e0e0e0;

  /* size */
  --padding: 12px;
  --avatar-size: 36px;

  /* font-size */
  --font-large: 18px;
  --font-medium: 14px;
  --font-small: 12px;
  --font-micro: 10px;
}

*{padding: 0; margin: 0; box-sizing: border-box; -webkit-appearance:none;}
body {font-family: 'Roboto', sans-serif;}
ul,li,ol {list-style: none;}
a {text-decoration: none;}
button, button:focus {border: none; cursor: pointer; outline: none; background: transparent;}

header {display: flex; justify-content: space-between;
padding: var(--padding); background-color: var(--black-color);
color: var(--white-color);}
header .logo {font-size: var(--font-large);}
header .logo i {color: var(--red-color);}
header .icons .fa-search {margin-right: var(--padding);}

.player {text-align: center; background-color: var(--black-color);
position: sticky; top: 0;}
.player video {width: 100%; height: 100%; max-width: 1000px;}

body > .info {padding: var(--padding);}
.info .hashtags {display: flex; font-size: var(--font-small);
color: var(--blue-color); padding: calc(var(--padding) / 2);}
.info .hashtags li {margin-right: var(--padding);}
.info .titleAndbutton {display: flex;}
.info .titleAndbutton .title {font-size: var(--font-medium);
 margin-right: var(--padding);}
.info .titleAndbutton .title.clamp {
display: -webkit-box; -webkit-box-orient: vertical;
-webkit-line-clamp: 2; overflow: hidden;}
.info .titleAndbutton .moreBtn {height: 100%; transition: transform 300ms ease-in-out;}
.info .titleAndbutton .moreBtn.clicked {transform: rotate(180deg);}
.info .views {font-size: var(--font-small); color: var(--grey-dark-color);}

.actions {display: flex; justify-content: space-around;}
.actions button {font-size: var(--font-small);
  display: flex; flex-direction: column; padding: calc(var(--padding) / 2);}
.actions button i {margin: 0 auto; margin-bottom: calc(var(--padding) / 2);
font-size: 16px;}
.actions button i.active {color: var(--blue-color);}

.channel {display: flex; justify-content: space-between;
border-top: 1px solid var(--grey-light-color);
border-bottom: 1px solid var(--grey-light-color); padding: calc(var(--padding) / 2);}
.channel .metadata {display: flex; align-items: center;}
.channel .metadata .info {display: flex; flex-direction: column; padding-left: calc(var(--padding) / 2); }
.channel .metadata .info .name {font-size: var(--font-medium);}
.channel .metadata .info .subscribers {font-size: var(--font-small);
color: var(--grey-dark-color);}
.channel .metadata img {width: var(--avatar-size); height: var(--avatar-size);
border-radius: 50%;}
.channel .subscribe {text-transform: uppercase;
color: var(--red-color); font-size: var(--font-medium);}

.upnext {padding: 0 var(--padding);}
.upnext > .title {font-size: var(--font-medium); color: var(--grey-dark-color);
margin-bottom: calc(var(--padding) / 2); }
.upnext .item {display: flex; margin-top: var(--padding);}
.upnext .item .img { flex: 1 1 35%; margin-right: var(--padding);}
.upnext .item .img img {width: 100%;}
.upnext .item .info { flex: 1 1 60%; display: flex; flex-direction: column;}
.upnext .item .info .title {font-size: var(--font-small);}
.upnext .item .info .name, .upnext .item .info .views {
  font-size: var(--font-micro); color: var(--grey-dark-color);}
.upnext .item .moreBtn { flex: 1 1 5%; }

.infoAndupnext {display: flex; flex-direction: column;}

@media screen and (min-width: 768px) {
  .infoAndupnext {flex-direction: row; margin: var(--padding) 0;}
}

@media screen and (min-width: 1280px) {
  .infoAndupnext {flex-direction: column;}
  .pc {display: flex; flex-direction: row;}
  .pc .player { flex: 1 1 70%; max-width: 2000px; width: 100%; height: 100%;
  position: sticky; right: 0; top: 0;}
  .pc .infoAndupnext { flex: 1 1 30%; }
}
